*{
    box-sizing: border-box;
}

.nav{
    width: 100%;
    background-color: gainsboro;
    text-align: center;
}

.dashboard{
    text-align: center;
    margin-top: 50px;
}

.dashnav {
    width: 95%;
    margin: 0 auto;
    background-color: gainsboro;
    text-align: center;
}

.posts {
    width: 95%;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

li{
    background-color: gainsboro;
    height: 200px;
    width: 30%;
}